<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright
      
    </div>
    <div class="text-center">
        <img src="./assets/arad.png" width="5%" >
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  